/*----------------------------------------------------------------------------------------
[I. SST fonts]
*/

/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://webfonts.fonts.com
*/

@font-face {
	font-family: "helvetica-2";
	src: url("/assets/fonts/helvetica/4bff1fbb-b4bf-4d95-9c47-efcb14384e36.woff") format("woff"),
		 url("/assets/fonts/helvetica/7f1f2a7d-3837-4c93-b373-f03c5da3f9a1.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-2i";
	src: url("/assets/fonts/helvetica/6a815361-6e47-4eaa-8b82-06b76eca6684.woff") format("woff"),
		 url("/assets/fonts/helvetica/fdfa66bc-eaee-412a-b193-5b24b4c3b1aa.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-2c";
	src: url("/assets/fonts/helvetica/ed81998a-20f5-461f-8ae8-b2d1c4feec2a.woff") format("woff"),
		 url("/assets/fonts/helvetica/ea4682a4-ca47-43c0-a7af-aa3d4c3df6c8.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-2ci";
	src: url("/assets/fonts/helvetica/96fca99f-d03c-4e52-99bf-2128f97b3007.woff") format("woff"),
		 url("/assets/fonts/helvetica/c7a64d57-bb2b-41d9-81f3-d168da918abf.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-2e";
	src: url("/assets/fonts/helvetica/692a13cc-6f51-41ca-86a1-6059c4c26a41.woff") format("woff"),
		 url("/assets/fonts/helvetica/03c50cc5-2a21-4d64-aba2-214cba2ced16.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-2ei";
	src: url("/assets/fonts/helvetica/e9bd6776-6239-4d79-a8de-833de8403ffa.woff") format("woff"),
		 url("/assets/fonts/helvetica/1eb52f6c-1922-42f8-9e86-8bbc5fec6fb3.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-3";
	src: url("/assets/fonts/helvetica/50d35bbc-dfd4-48f1-af16-cf058f69421d.woff") format("woff"),
		 url("/assets/fonts/helvetica/278bef59-6be1-4800-b5ac-1f769ab47430.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-3i";
	src: url("/assets/fonts/helvetica/b6d63cb7-64b5-4d39-beaf-a8d9fe5eb1df.woff") format("woff"),
		 url("/assets/fonts/helvetica/284ad777-0022-42a3-9197-c449457c670a.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-3c";
	src: url("/assets/fonts/helvetica/3d0bfb88-4887-4fd3-a16f-34ae15cbfe25.woff") format("woff"),
		 url("/assets/fonts/helvetica/007ff3cd-c6c5-4d33-8458-99c3d6fc8598.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-3ci";
	src: url("/assets/fonts/helvetica/2906fb00-117f-4f5d-8e80-5c0658969b92.woff") format("woff"),
		 url("/assets/fonts/helvetica/1e030520-a37b-4e02-b7cd-d514be1cbebb.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-3e";
	src: url("/assets/fonts/helvetica/8b105f29-73d5-4373-882d-bb4323e358c0.woff") format("woff"),
		 url("/assets/fonts/helvetica/0e820efb-cef9-4cfa-915b-3df0080e7eea.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-3ei";
	src: url("/assets/fonts/helvetica/4a38fa41-e7c2-48d1-8575-6e93a4a9880d.woff") format("woff"),
		 url("/assets/fonts/helvetica/01a9c1b8-7648-4ee9-afb6-874a2f542b7b.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-4";
	src: url("/assets/fonts/helvetica/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff") format("woff"),
		 url("/assets/fonts/helvetica/688ab72b-4deb-4e15-a088-89166978d469.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-4i";
	src: url("/assets/fonts/helvetica/8e9ee02b-f337-4f13-ad6c-969d6d6536c8.woff") format("woff"),
		 url("/assets/fonts/helvetica/beddbbc6-203e-4f36-8960-3f5ca22af567.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-4c";
	src: url("/assets/fonts/helvetica/42aacb2f-222e-46f5-a95a-1c22948ee0d1.woff") format("woff"),
		 url("/assets/fonts/helvetica/217a2f81-1e65-4924-a0d4-05ac8576f883.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-4ci";
	src: url("/assets/fonts/helvetica/aa6913f7-e674-4d61-973b-002422ac447e.woff") format("woff"),
		 url("/assets/fonts/helvetica/857b0b99-c6b3-4ad8-a049-28506caba502.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-4e";
	src: url("/assets/fonts/helvetica/ce0ead1e-4eb1-4535-898a-b801a2313639.woff") format("woff"),
		 url("/assets/fonts/helvetica/5b9a6f8c-0b7e-4c58-914d-e7bdfa970620.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-4ei";
	src: url("/assets/fonts/helvetica/dffe5957-1502-4d32-a73e-8743d1f6c8b1.woff") format("woff"),
		 url("/assets/fonts/helvetica/636af9a7-2b5d-43e3-87b0-e3ad13d03e2e.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-5";
	src: url("/assets/fonts/helvetica/bcf54343-d033-41ee-bbd7-2b77df3fe7ba.woff") format("woff"),
		 url("/assets/fonts/helvetica/b0ffdcf0-26da-47fd-8485-20e4a40d4b7d.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-5i";
	src: url("/assets/fonts/helvetica/2c056da8-4920-4e20-8c69-8a6b315458a9.woff") format("woff"),
		 url("/assets/fonts/helvetica/2381d918-136d-444f-8391-db0cba6da388.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-5c";
	src: url("/assets/fonts/helvetica/842088d0-1ae2-40d0-8561-3c95761ba7a6.woff") format("woff"),
		 url("/assets/fonts/helvetica/c74505d5-13e8-47ed-94a8-630aab4da3e6.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-5ci";
	src: url("/assets/fonts/helvetica/62667cf4-401a-4878-83c9-4cfabc21ac51.woff") format("woff"),
		 url("/assets/fonts/helvetica/e7e2d460-5cf5-4bd1-b1a3-efdb8490bc94.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-5e";
	src: url("/assets/fonts/helvetica/f3f4b1c8-520e-4141-9f6f-8e21a2857a9c.woff") format("woff"),
		 url("/assets/fonts/helvetica/774feb13-4351-429a-8c47-2bec5277e372.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-5ei";
	src: url("/assets/fonts/helvetica/04790faf-ec50-42ef-b076-0cc373d87bc4.woff") format("woff"),
		 url("/assets/fonts/helvetica/904e5780-c5f5-4be7-be5c-a356c97855e9.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-6";
	src: url("/assets/fonts/helvetica/60be5c39-863e-40cb-9434-6ebafb62ab2b.woff") format("woff"),
		 url("/assets/fonts/helvetica/4c6503c9-859b-4d3b-a1d5-2d42e1222415.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-6i";
	src: url("/assets/fonts/helvetica/5f0efe11-b07a-49fc-ab86-7af6152fa368.woff") format("woff"),
		 url("/assets/fonts/helvetica/fea58e5b-b0a7-43f7-8928-fc0639365852.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-6c";
	src: url("/assets/fonts/helvetica/aef05e22-e1d4-4e59-bc2e-a71c13c26cca.woff") format("woff"),
		 url("/assets/fonts/helvetica/b785b1cf-24fa-44c9-8c93-d8e2d6912c47.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-6ci";
	src: url("/assets/fonts/helvetica/08168171-ce66-4a8c-ae2c-720f44ea63ea.woff") format("woff"),
		 url("/assets/fonts/helvetica/d9b14ee9-cc93-4033-894c-cb00960ace98.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-6e";
	src: url("/assets/fonts/helvetica/6caf1719-afb6-4b59-bb74-f10b72aa79e4.woff") format("woff"),
		 url("/assets/fonts/helvetica/96e3360b-50c6-4ef1-a799-1a85f44266f8.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-6ei";
	src: url("/assets/fonts/helvetica/b515857f-6390-4f90-8b3b-865881f68272.woff") format("woff"),
		 url("/assets/fonts/helvetica/e09179c3-9766-4895-b727-61c859a2ea55.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-7";
	src: url("/assets/fonts/helvetica/14ff6081-326d-4dae-b778-d7afa66166fc.woff") format("woff"),
		 url("/assets/fonts/helvetica/8fda1e47-19be-46c7-8d83-8d4fb35572f0.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-7i";
	src: url("/assets/fonts/helvetica/628a0837-f9e0-4b32-83c4-d99689b9da93.woff") format("woff"),
		 url("/assets/fonts/helvetica/4d9ecce0-f253-49fd-8623-b0f896b12794.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-7c";
	src: url("/assets/fonts/helvetica/102ab74c-0e84-4fe5-a17a-b20fb643591a.woff") format("woff"),
		 url("/assets/fonts/helvetica/1d146b29-55e2-485b-96aa-5cb628e7e9eb.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-7ci";
	src: url("/assets/fonts/helvetica/5287baae-f2f0-48f7-98bd-ec2986854951.woff") format("woff"),
		 url("/assets/fonts/helvetica/e6ab5bf0-c0a7-4aeb-a5d0-50177e6b354b.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-7e";
	src: url("/assets/fonts/helvetica/a0cf2f5e-c70c-45a8-a420-4143b3afb187.woff") format("woff"),
		 url("/assets/fonts/helvetica/c7acfb18-afc1-4a67-a281-baa1130b7baa.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-7ei";
	src: url("/assets/fonts/helvetica/157863ca-ef39-40fc-bb48-5e609f2786fc.woff") format("woff"),
		 url("/assets/fonts/helvetica/5726e908-0605-4019-93c0-133681439183.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-8";
	src: url("/assets/fonts/helvetica/a0d9d2cb-f057-4e8d-a957-27853630f58e.woff") format("woff"),
		 url("/assets/fonts/helvetica/54085041-5049-4b91-939c-49980c66abab.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-8i";
	src: url("/assets/fonts/helvetica/eb32ec0b-c520-4a30-8777-e19326236901.woff") format("woff"),
		 url("/assets/fonts/helvetica/2d92bb71-9a10-499c-954f-8b61e8dd47f1.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-8c";
	src: url("/assets/fonts/helvetica/33bb86d1-8adf-454e-aee3-ca1c89445476.woff") format("woff"),
		 url("/assets/fonts/helvetica/921ef834-872c-4460-ac11-f5fbcac9fa2d.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-8ci";
	src: url("/assets/fonts/helvetica/6f4f41f2-18c9-493a-9227-296fb66e26bc.woff") format("woff"),
		 url("/assets/fonts/helvetica/ff8f917b-bb43-402a-8960-f2cce8961904.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-8e";
	src: url("/assets/fonts/helvetica/e8725b2b-4b0e-462e-af9f-bc97c85ac34c.woff") format("woff"),
		 url("/assets/fonts/helvetica/066d4561-f7a8-4015-a654-efe87079ee42.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-8ei";
	src: url("/assets/fonts/helvetica/14af27b3-cf2a-4c5f-8523-2b60ee524a3c.woff") format("woff"),
		 url("/assets/fonts/helvetica/b5f147e4-ef7e-466b-94fd-3a06823b07c6.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-9";
	src: url("/assets/fonts/helvetica/74649485-cd74-443e-9d54-331ccd448900.woff") format("woff"),
		 url("/assets/fonts/helvetica/feb77f4f-9e6b-4f88-909a-66199fd402ed.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-9i";
	src: url("/assets/fonts/helvetica/ab0dc397-a22d-42cc-beb7-bf19fa4a3247.woff") format("woff"),
		 url("/assets/fonts/helvetica/0f0830f6-1ac2-40b7-867f-6972df0942b8.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-9c";
	src: url("/assets/fonts/helvetica/a6949d17-6d8e-42ab-8032-2d9cb114c1b4.woff") format("woff"),
		 url("/assets/fonts/helvetica/843152a1-f5b5-4cbf-a5d3-e9ccaccddd2a.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-9ci";
	src: url("/assets/fonts/helvetica/276f9a92-d418-46c3-adec-af917fde9a18.woff") format("woff"),
		 url("/assets/fonts/helvetica/1505593c-c09b-40f0-a192-cfcf2f2d956e.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-9e";
	src: url("/assets/fonts/helvetica/ffd68cca-c3c9-429f-b698-a01015e1ec7c.woff") format("woff"),
		 url("/assets/fonts/helvetica/68441f65-0a50-473f-82e3-04ce4de7458a.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-9ei";
	src: url("/assets/fonts/helvetica/5014a5aa-cc04-40c5-b9e0-b3bd306fad9d.woff") format("woff"),
		 url("/assets/fonts/helvetica/ba37db01-4a3f-4a26-b3f5-8354cc1a6263.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-10c";
	src: url("/assets/fonts/helvetica/58310d61-40ac-4464-b817-30d9e9deb3bb.woff") format("woff"),
		 url("/assets/fonts/helvetica/96017e22-70f3-4c82-9620-352a5f107d90.ttf") format("truetype");
}
@font-face {
	font-family: "helvetica-10ci";
	src: url("/assets/fonts/helvetica/57c64de9-ee40-4809-8093-d22fe6f1531f.woff") format("woff"),
		 url("/assets/fonts/helvetica/875b83e0-53de-4643-b157-3ea90e2e634b.ttf") format("truetype");
}

//
// Web App icon Font
//
@font-face {
	font-family: "webapp-icon";
	src: url("/assets/fonts/webapp-icon/webapp-icon.woff") format("woff"),
		 url("/assets/fonts/webapp-icon/webapp-icon.ttf") format("truetype");
}

.icon,
[class^="icon--"],
[class*=" icon--"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'webapp-icon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon--new:before {
	content: "\e0bb";
}
.icon--newbold:before {
	content: "\e0bc";
}